<div>
    <p><h2>Parabéns {PHOTOGRAPHER}!</h2></p>
    <blockquote>
    Suas fotografias se conectaram com a publisher <b>{PUBLISHER}</b>, que acaba de fazer o download das imagens da
    sua galeria <b>{EVENT}</b>. Estamos felizes e na expectativa que você seja publicado em breve! Fique atento ao blog
    e às redes sociais do publisher <b>{PUBLISHER}</b>. Aproveite a oportunidade e reposte nas suas
    redes para criar ainda mais engajamento e seu trabalho ser visto por mais noivas! Obrigado por nos ajudar a
    consolidar essa nova forma de inspirar noivas de todo o Brasil!
    </blockquote>

    <blockquote>
    Acompanhe a publisher <b>{PUBLISHER}</b> nos seus canais:
    <ul>
        {PUBLISHER_BLOG}
        {PUBLISHER_FACEBOOK}
        {PUBLISHER_INSTA}
    </ul>
    </blockquote>
</div>